
<div class="col-xs-12 detailsTitle">
    
    <div class="col-xs-6 detailsTitle">
    
    <h4>Course details</h4>
</div>
    
    
<div class="col-xs-6 divButtonEdit">
    <button class="buttonEdit buttonStyle"  ng-click="MainContainerPage('AddEditCourse', currentCourse.id)" ng-show="showIfTeacher">Edit</button>
</div>
    <div class="col-xs-12">
        <hr>
        
    </div>
    
</div>





<div class="row">
    <div class="col-xs-6">
          <img ng-src="./img/{{currentCourse.imageFileName}}" class="detailImg colorImg" />
        
    </div>
    
    
    <div class="col-xs-6">
        
        <table class="detailTable">
            <tr>
                <th>
                        {{currentCourse.name }}
                </th>
               
            </tr>
            <tr>
                <td>
                    {{courseUsers.length + ' students'}}
                    
                </td>
                
            </tr>
            <tr>
                <td>
                   {{currentCourse.description}}
                </td>
            </tr>
           
            
        </table>
          
        
        


    </div>



</div>









<div class="row">
   

    <div class="col-xs-12 detailsStudentCourses" >
        <h3 class="detailsstrinCourse">Students in course:</h4>
        <br/>


   <table>
            <tr>
                <td  ng-repeat="student in arrDetailsCourseStudents">
                    <img ng-src="./img/{{student.imageFileName}}" class="colorImg" width="100" height="100"/>
                    <br/>
{{student.firstName+" "+student.lastName}} 

                </td>
               

            </tr>




        </table>



    </div>
</div>











